:root{
    --border-px: 1px;
    --main-blue: #61AFEF;
    --main-blue-light: #84bdec;
    --main-light-grey: #5C6370;
    --main-dark-grey: #282b31;
    --main-grey: #42464e;
}

*{
    margin: .25em;
    border-radius: 5px;
    color: var(--main-blue);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    position: relative;
    width: auto;
    background-image: url("./placeholderbg.png");
    background-attachment: fixed;
}

h1{
    font-size: 3em;
}

h2{
    font-size: 2.5em;
}

h3{
    font-size: 2em;
}

p{
    font-size: 1.5em;
    margin: 1em;
}

a{
    text-decoration: none;
    margin: 0;
    border-radius: 2.5px;
}

button{
    border-radius: 2.5px;
    background-color: var(--main-blue);
    border: 1px solid var(--main-dark-grey); 
    color: #282b31; 
    padding: 10px 24px; 
    cursor: pointer;
    font-size: 1.5em;
}

button:hover{
    background-color: var(--main-blue-light);
}

.org{
    display: flex;
    justify-content: center;
}
.org_name{
    display: flex;
    font-size: 3em;
    align-items: center;
    float: center;
}
.org_logo{
    display: flex;
    width: 265;
    height: 265;
}

.menu{
    background-color: var(--main-grey);
    box-shadow: 0 0 0 var(--border-px) black;
}

.btn-panel{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-panel button{
    margin: 0; 
}

.btn-panel button:not(:last-child) {
    border-right: none;
}

.btn-panel:after {
    content: "";
    clear: both;
    display: table;
}

  
.dropdown {
    position: relative;
    display: inline-block;
    margin: 0;
    border-radius: 2.5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--main-blue);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin: 0;
    border-radius: 2.5px;
    box-shadow: 0 0 0 var(--border-px) black;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--main-blue-light);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.content{
    background-color: var(--main-light-grey);
    opacity: 0.99;
    padding: 20px;
    width: auto;
    height: fit-content;
    box-shadow: 0 0 0 var(--border-px) black;
}

.project{
    display: flex;
    justify-content: center;
    background-color: var(--main-grey);
    margin-top: 20px;
    padding: 15px;
    box-shadow: 0 0 0 var(--border-px) var(--main-blue);
}

.project:hover{
    background-color: var(--main-dark-grey);
}

.about{
    background-color: var(--main-grey);
    padding: 20px;
    box-shadow: 0 0 0 var(--border-px) black;
}

.welcome_msg{
    margin: 100px;
    display: flex;
    justify-content: center;
}
.bot_msg{
    background-color: var(--main-grey);
    box-shadow: 0 0 0 var(--border-px) black;
    margin-top: 20px;
    padding: 5px;
}

.partners{
    display: flex;
    justify-content: center;
}

.partner{
    margin: 30px;
    font-size: 1.5em;
}